{% extends 'base.html' %} {% block main %}
<div class="box">
    <div class="container d-flex">
        <h2 id="updating-header">Updating a Author</h2>
    </div>
    <div class="container">
        <form id="updating-button" method="post">
            {% csrf_token %} Name:
            <input id="update-bar" type="text" name="name" placeholder="Enter name...">
            <a href="{% url 'author-update' author.id %}">
                <button class="btn btn-primary" type="submit" value="{{author.name}}">Update</button>
            </a>
        </form>
    </div>
</div>
{% endblock main %}
