{% extends 'base.html' %} {% block main %} {% load static %}
<div id="book-create" class="form-groups container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div id="book-title-input" class="col-3">
            <!-- <img class="book-marks" src="{% static 'icons/book-marks.svg' %}"> -->
            <p class="font-weight-bold"> Book Title:
                <input type="text " name="title">
            </p>
        </div>
        <div class="button-groups">
            <div id="price-input" class="col-3 ">
                <p class="font-weight-bold price-button">
                    <p class="font-weight-bold">Price:</p>
                    <input type="number" step="0.01" name="price" placeholder="$">
                </p>
            </div>
            <div class="col-3">
                <p class="font-weight-bold">
                    Authors: {% include 'book/components/authors-selector.html' %}
                </p>
            </div>
            <div class="description-text col-3">
                <p class="font-weight-bold">
                    Description:
                    <textarea class="form-control" rows="5" name="description"></textarea>
                </p>
            </div>
            <div id="file-upload" class="cover-photo">
                <p class="font-weight-bold">
                    <i class="fas fa-file-upload"></i>
                    Cover Photo:
                    <input type="file" name="cover_image" value="fileupload">
                </p>
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    </form>
</div>
{% endblock main %}
